USE [SCF]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 03/15/2016 07:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuarios](
	[codigoUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombreUsuario] [varchar](50) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[codigoUsuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON
INSERT [dbo].[Usuarios] ([codigoUsuario], [nombreUsuario], [contraseña]) VALUES (1, N'admin', N'sempait')
INSERT [dbo].[Usuarios] ([codigoUsuario], [nombreUsuario], [contraseña]) VALUES (2, N'scf', N'scf2015')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
/****** Object:  Table [dbo].[AFIP_UnidadesMedida]    Script Date: 03/15/2016 07:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AFIP_UnidadesMedida](
	[codigoUnidadMedida] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[abreviatura] [varchar](50) NULL,
 CONSTRAINT [PK_AFIP_UnidadesMedida] PRIMARY KEY CLUSTERED 
(
	[codigoUnidadMedida] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AFIP_UnidadesMedida] ([codigoUnidadMedida], [descripcion], [abreviatura]) VALUES (0, N'Sin unidad', N'S/U')
INSERT [dbo].[AFIP_UnidadesMedida] ([codigoUnidadMedida], [descripcion], [abreviatura]) VALUES (1, N'Kilogramo', N'KG')
INSERT [dbo].[AFIP_UnidadesMedida] ([codigoUnidadMedida], [descripcion], [abreviatura]) VALUES (2, N'Metro', N'M')
/****** Object:  Table [dbo].[AFIP_TiposMonedas]    Script Date: 03/15/2016 07:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AFIP_TiposMonedas](
	[codigoTipoMoneda] [int] NOT NULL,
	[codigoTipoMonedaAFIP] [varchar](50) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[abreviatura] [varchar](50) NULL,
 CONSTRAINT [PK_AFIP_TiposMonedas] PRIMARY KEY CLUSTERED 
(
	[codigoTipoMoneda] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AFIP_TiposMonedas] ([codigoTipoMoneda], [codigoTipoMonedaAFIP], [descripcion], [abreviatura]) VALUES (1, N'PES', N'Pesos', N'ARS')
INSERT [dbo].[AFIP_TiposMonedas] ([codigoTipoMoneda], [codigoTipoMonedaAFIP], [descripcion], [abreviatura]) VALUES (2, N'DOL', N'Dolar', N'USD')
INSERT [dbo].[AFIP_TiposMonedas] ([codigoTipoMoneda], [codigoTipoMonedaAFIP], [descripcion], [abreviatura]) VALUES (3, N'12', N'Real', NULL)
/****** Object:  Table [dbo].[AFIP_TiposDocumento]    Script Date: 03/15/2016 07:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AFIP_TiposDocumento](
	[codigoTipoDocumento] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_AFIP_TiposDocumento] PRIMARY KEY CLUSTERED 
(
	[codigoTipoDocumento] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AFIP_TiposDocumento] ([codigoTipoDocumento], [descripcion]) VALUES (80, N'CUIT')
INSERT [dbo].[AFIP_TiposDocumento] ([codigoTipoDocumento], [descripcion]) VALUES (81, N'CUIL')
INSERT [dbo].[AFIP_TiposDocumento] ([codigoTipoDocumento], [descripcion]) VALUES (96, N'DNI')
/****** Object:  Table [dbo].[AFIP_TiposComprobante]    Script Date: 03/15/2016 07:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AFIP_TiposComprobante](
	[codigoTipoComprobante] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_AFIP_TiposComprobante] PRIMARY KEY CLUSTERED 
(
	[codigoTipoComprobante] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AFIP_TiposComprobante] ([codigoTipoComprobante], [descripcion]) VALUES (1, N'Factura A')
/****** Object:  Table [dbo].[AFIP_Iva]    Script Date: 03/15/2016 07:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AFIP_Iva](
	[codigoIva] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_AFIP_Iva] PRIMARY KEY CLUSTERED 
(
	[codigoIva] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AFIP_Iva] ([codigoIva], [descripcion]) VALUES (2, N'Exento')
INSERT [dbo].[AFIP_Iva] ([codigoIva], [descripcion]) VALUES (3, N'0%')
INSERT [dbo].[AFIP_Iva] ([codigoIva], [descripcion]) VALUES (4, N'10,5%')
/****** Object:  Table [dbo].[AFIP_ConceptosIncluidos]    Script Date: 03/15/2016 07:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AFIP_ConceptosIncluidos](
	[codigoConcepto] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_AFIP_ConceptosIncluidos] PRIMARY KEY CLUSTERED 
(
	[codigoConcepto] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AFIP_ConceptosIncluidos] ([codigoConcepto], [descripcion]) VALUES (1, N'Productos')
INSERT [dbo].[AFIP_ConceptosIncluidos] ([codigoConcepto], [descripcion]) VALUES (2, N'Servicios')
INSERT [dbo].[AFIP_ConceptosIncluidos] ([codigoConcepto], [descripcion]) VALUES (3, N'Productos y servicios')
/****** Object:  Table [dbo].[Direcciones]    Script Date: 03/15/2016 07:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Direcciones](
	[codigoDireccion] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
	[provincia] [varchar](50) NOT NULL,
	[localidad] [varchar](50) NOT NULL,
	[codigoCliente] [int] NOT NULL,
 CONSTRAINT [PK_Direcciones] PRIMARY KEY CLUSTERED 
(
	[codigoDireccion] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Direcciones] ON
INSERT [dbo].[Direcciones] ([codigoDireccion], [descripcion], [provincia], [localidad], [codigoCliente]) VALUES (1, N'PLANTA GRAL SAVIO', N'Buenos Aires', N'San Nicolas', 26)
INSERT [dbo].[Direcciones] ([codigoDireccion], [descripcion], [provincia], [localidad], [codigoCliente]) VALUES (2, N'HIPOLITO BOUCHARD 557 PISO 15', N'Buenos Aires', N'CABA', 27)
INSERT [dbo].[Direcciones] ([codigoDireccion], [descripcion], [provincia], [localidad], [codigoCliente]) VALUES (3, N'RUTA 148 KM 754 PUNTO 1 (SUR)', N'San Luis', N'Villa Mercedes', 28)
SET IDENTITY_INSERT [dbo].[Direcciones] OFF
/****** Object:  Table [dbo].[DatosEmpresa]    Script Date: 03/15/2016 07:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DatosEmpresa](
	[codigoDatosEmpresa] [int] IDENTITY(1,1) NOT NULL,
	[razonSocial] [varchar](50) NOT NULL,
	[provincia] [varchar](50) NOT NULL,
	[localidad] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[telefono] [varchar](50) NOT NULL,
	[fax] [varchar](50) NULL,
	[mail] [varchar](50) NULL,
	[codigoTipoDocumento] [int] NOT NULL,
	[isInactivo] [bit] NOT NULL,
	[personaContacto] [varchar](100) NOT NULL,
	[numeroCuenta] [varchar](50) NULL,
	[banco] [varchar](50) NOT NULL,
	[cbu] [varchar](50) NOT NULL,
	[observaciones] [varchar](max) NOT NULL,
	[numeroDocumento] [varchar](50) NOT NULL,
	[cai] [varchar](50) NULL,
	[fechaVencimientoCai] [datetime] NULL,
 CONSTRAINT [PK_DatosEmpresa] PRIMARY KEY CLUSTERED 
(
	[codigoDatosEmpresa] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DatosEmpresa] ON
INSERT [dbo].[DatosEmpresa] ([codigoDatosEmpresa], [razonSocial], [provincia], [localidad], [direccion], [telefono], [fax], [mail], [codigoTipoDocumento], [isInactivo], [personaContacto], [numeroCuenta], [banco], [cbu], [observaciones], [numeroDocumento], [cai], [fechaVencimientoCai]) VALUES (1, N'S.C.F. S.R.L', N'Santa Fe', N'Rosario', N'lals', N'3413122339', N'3413122339', N'scf@scf.com.ar', 80, 0, N'Carla Stangaferro', N'', N'Macro', N'99292929292', N'Algo', N'30711039704', N'42044045577973', CAST(0x0000A70800000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[DatosEmpresa] OFF
/****** Object:  Table [dbo].[ContratosMarco]    Script Date: 03/15/2016 07:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ContratosMarco](
	[codigoContratoMarco] [int] IDENTITY(1,1) NOT NULL,
	[codigoCliente] [int] NOT NULL,
	[fechaInicio] [datetime] NOT NULL,
	[fechaFin] [datetime] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[comprador] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ContratosMarco] PRIMARY KEY CLUSTERED 
(
	[codigoContratoMarco] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ContratosMarco] ON
INSERT [dbo].[ContratosMarco] ([codigoContratoMarco], [codigoCliente], [fechaInicio], [fechaFin], [descripcion], [comprador]) VALUES (77, 26, CAST(0x0000A31C00000000 AS DateTime), CAST(0x0000A76500000000 AS DateTime), N'6700157486', N'ARCE')
INSERT [dbo].[ContratosMarco] ([codigoContratoMarco], [codigoCliente], [fechaInicio], [fechaFin], [descripcion], [comprador]) VALUES (78, 31, CAST(0x0000A31C00000000 AS DateTime), CAST(0x0000A76500000000 AS DateTime), N'6700157491', N'ARCE')
INSERT [dbo].[ContratosMarco] ([codigoContratoMarco], [codigoCliente], [fechaInicio], [fechaFin], [descripcion], [comprador]) VALUES (79, 27, CAST(0x0000A31C00000000 AS DateTime), CAST(0x0000A76500000000 AS DateTime), N'6700157496', N'ARCE')
SET IDENTITY_INSERT [dbo].[ContratosMarco] OFF
/****** Object:  Table [dbo].[Articulos]    Script Date: 03/15/2016 07:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Articulos](
	[codigoArticulo] [int] IDENTITY(1,1) NOT NULL,
	[descripcionCorta] [varchar](50) NOT NULL,
	[descripcionLarga] [varchar](max) NOT NULL,
	[marca] [varchar](50) NOT NULL,
	[nombreImagen] [varchar](50) NOT NULL,
	[codigoUnidadMedida] [int] NOT NULL,
 CONSTRAINT [PK_Articulos] PRIMARY KEY CLUSTERED 
(
	[codigoArticulo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Articulos] ON
INSERT [dbo].[Articulos] ([codigoArticulo], [descripcionCorta], [descripcionLarga], [marca], [nombreImagen], [codigoUnidadMedida]) VALUES (61, N'LINTERNA BOLIGRAFO METAL PENLIGHT    *I*', N'', N'', N'', 7)
INSERT [dbo].[Articulos] ([codigoArticulo], [descripcionCorta], [descripcionLarga], [marca], [nombreImagen], [codigoUnidadMedida]) VALUES (62, N'FICHA STECK 2P+T S-2078              *I*', N'', N'', N'', 7)
INSERT [dbo].[Articulos] ([codigoArticulo], [descripcionCorta], [descripcionLarga], [marca], [nombreImagen], [codigoUnidadMedida]) VALUES (63, N'TOMACORRIENTE ACOPLE STECK S-2058    *I*', N'', N'', N'', 7)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
SET IDENTITY_INSERT [dbo].[Articulos] OFF
/****** Object:  Table [dbo].[Facturas]    Script Date: 03/15/2016 07:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Facturas](
	[codigoFactura] [int] IDENTITY(1,1) NOT NULL,
	[numeroFactura] [int] NOT NULL,
	[fechaFacturacion] [datetime] NOT NULL,
	[codigoTipoComprobante] [int] NOT NULL,
	[codigoTipoMoneda] [int] NOT NULL,
	[codigoConcepto] [int] NOT NULL,
	[codigoIva] [int] NOT NULL,
	[subtotal] [numeric](9, 2) NOT NULL,
	[total] [numeric](9, 2) NOT NULL,
	[cae] [varchar](50) NULL,
	[fechaVencimiento] [datetime] NULL,
	[condicionVenta] [varchar](50) NULL,
	[cotizacion] [numeric](9, 2) NULL,
 CONSTRAINT [PK_Facturas] PRIMARY KEY CLUSTERED 
(
	[codigoFactura] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Facturas] ON
INSERT [dbo].[Facturas] ([codigoFactura], [numeroFactura], [fechaFacturacion], [codigoTipoComprobante], [codigoTipoMoneda], [codigoConcepto], [codigoIva], [subtotal], [total], [cae], [fechaVencimiento], [condicionVenta], [cotizacion]) VALUES (19, 1, CAST(0x0000A5AE00994260 AS DateTime), 1, 1, 1, 5, CAST(3724.00 AS Numeric(9, 2)), CAST(4506.04 AS Numeric(9, 2)), N'66074615089064', CAST(0x0000A5B800000000 AS DateTime), N'15 Días', CAST(1.00 AS Numeric(9, 2)))
INSERT [dbo].[Facturas] ([codigoFactura], [numeroFactura], [fechaFacturacion], [codigoTipoComprobante], [codigoTipoMoneda], [codigoConcepto], [codigoIva], [subtotal], [total], [cae], [fechaVencimiento], [condicionVenta], [cotizacion]) VALUES (20, 2, CAST(0x0000A5AE00AF81B0 AS DateTime), 1, 1, 1, 5, CAST(750.72 AS Numeric(9, 2)), CAST(908.37 AS Numeric(9, 2)), N'66074616558515', CAST(0x0000A5B800000000 AS DateTime), N'15 Días', CAST(1.00 AS Numeric(9, 2)))
INSERT [dbo].[Facturas] ([codigoFactura], [numeroFactura], [fechaFacturacion], [codigoTipoComprobante], [codigoTipoMoneda], [codigoConcepto], [codigoIva], [subtotal], [total], [cae], [fechaVencimiento], [condicionVenta], [cotizacion]) VALUES (21, 3, CAST(0x0000A5AE00B09AF0 AS DateTime), 1, 1, 1, 5, CAST(108.80 AS Numeric(9, 2)), CAST(131.65 AS Numeric(9, 2)), N'66074616642770', CAST(0x0000A5B800000000 AS DateTime), N'15 Días', CAST(1.00 AS Numeric(9, 2)))
SET IDENTITY_INSERT [dbo].[Facturas] OFF
/****** Object:  Table [dbo].[Clientes]    Script Date: 03/15/2016 07:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clientes](
	[codigoCliente] [int] IDENTITY(1,1) NOT NULL,
	[razonSocial] [varchar](50) NOT NULL,
	[telefono] [varchar](50) NOT NULL,
	[fax] [varchar](50) NULL,
	[mail] [varchar](50) NULL,
	[codigoTipoDocumento] [int] NOT NULL,
	[isInactivo] [bit] NOT NULL,
	[personaContacto] [varchar](100) NOT NULL,
	[numeroCuenta] [varchar](50) NOT NULL,
	[banco] [varchar](50) NOT NULL,
	[cbu] [varchar](50) NOT NULL,
	[observaciones] [varchar](max) NOT NULL,
	[numeroInterno] [int] NULL,
	[numeroDocumento] [varchar](50) NULL,
	[codigoSCF] [varchar](50) NULL,
	[codigoDireccion] [int] NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[codigoCliente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON
INSERT [dbo].[Clientes] ([codigoCliente], [razonSocial], [telefono], [fax], [mail], [codigoTipoDocumento], [isInactivo], [personaContacto], [numeroCuenta], [banco], [cbu], [observaciones], [numeroInterno], [numeroDocumento], [codigoSCF], [codigoDireccion]) VALUES (26, N'SIDERAR', N'', N'', N'', 80, 0, N'', N'', N'', N'', N'', 0, N'30-51688824-1', N'125754', NULL)
INSERT [dbo].[Clientes] ([codigoCliente], [razonSocial], [telefono], [fax], [mail], [codigoTipoDocumento], [isInactivo], [personaContacto], [numeroCuenta], [banco], [cbu], [observaciones], [numeroInterno], [numeroDocumento], [codigoSCF], [codigoDireccion]) VALUES (27, N'SIDERNET', N'', N'', N'', 80, 0, N'', N'', N'', N'', N'', 0, N'30678158816', N'164323', NULL)
INSERT [dbo].[Clientes] ([codigoCliente], [razonSocial], [telefono], [fax], [mail], [codigoTipoDocumento], [isInactivo], [personaContacto], [numeroCuenta], [banco], [cbu], [observaciones], [numeroInterno], [numeroDocumento], [codigoSCF], [codigoDireccion]) VALUES (28, N'METALMECANICA', N'', N'', N'', 80, 0, N'', N'', N'', N'', N'', 0, N'30612406614', N'172888', NULL)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
/****** Object:  Table [dbo].[Transportes]    Script Date: 03/15/2016 07:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Transportes](
	[codigoTransporte] [int] IDENTITY(1,1) NOT NULL,
	[razonSocial] [varchar](50) NOT NULL,
	[provincia] [varchar](50) NOT NULL,
	[localidad] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[telefono] [varchar](50) NOT NULL,
	[fax] [varchar](50) NULL,
	[mail] [varchar](50) NULL,
	[codigoTipoDocumento] [int] NOT NULL,
	[isInactivo] [bit] NOT NULL,
	[personaContacto] [varchar](100) NOT NULL,
	[numeroCuenta] [varchar](50) NULL,
	[banco] [varchar](50) NOT NULL,
	[cbu] [varchar](50) NOT NULL,
	[observaciones] [varchar](max) NOT NULL,
	[numeroDocumento] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Transportes] PRIMARY KEY CLUSTERED 
(
	[codigoTransporte] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Transportes] ON
INSERT [dbo].[Transportes] ([codigoTransporte], [razonSocial], [provincia], [localidad], [direccion], [telefono], [fax], [mail], [codigoTipoDocumento], [isInactivo], [personaContacto], [numeroCuenta], [banco], [cbu], [observaciones], [numeroDocumento]) VALUES (6, N'Exo Logistica', N'Santa Fe', N'Rosario', N'Viamonte', N'132', N'13', N'13', 80, 0, N'pepe', N'123', N'a', N'1', N' ', N'123')
INSERT [dbo].[Transportes] ([codigoTransporte], [razonSocial], [provincia], [localidad], [direccion], [telefono], [fax], [mail], [codigoTipoDocumento], [isInactivo], [personaContacto], [numeroCuenta], [banco], [cbu], [observaciones], [numeroDocumento]) VALUES (7, N'prueba transoprte', N'', N'', N'', N'', N'', N'', 80, 0, N'prueba', N'', N'', N'', N'', N'34541595590')
SET IDENTITY_INSERT [dbo].[Transportes] OFF
/****** Object:  Table [dbo].[Proveedores]    Script Date: 03/15/2016 07:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Proveedores](
	[codigoProveedor] [int] IDENTITY(1,1) NOT NULL,
	[razonSocial] [varchar](50) NOT NULL,
	[provincia] [varchar](50) NOT NULL,
	[localidad] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[telefono] [varchar](50) NOT NULL,
	[fax] [varchar](50) NULL,
	[mail] [varchar](50) NULL,
	[codigoTipoDocumento] [int] NOT NULL,
	[isInactivo] [bit] NOT NULL,
	[personaContacto] [varchar](100) NOT NULL,
	[numeroCuenta] [varchar](50) NOT NULL,
	[banco] [varchar](50) NOT NULL,
	[cbu] [varchar](50) NOT NULL,
	[observaciones] [varchar](max) NOT NULL,
	[numeroInterno] [int] NULL,
	[numeroDocumento] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Proveedores] PRIMARY KEY CLUSTERED 
(
	[codigoProveedor] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON
INSERT [dbo].[Proveedores] ([codigoProveedor], [razonSocial], [provincia], [localidad], [direccion], [telefono], [fax], [mail], [codigoTipoDocumento], [isInactivo], [personaContacto], [numeroCuenta], [banco], [cbu], [observaciones], [numeroInterno], [numeroDocumento]) VALUES (1, N'Google Inc', N'Santa Fe', N'Rosario', N'Rodriguez 946', N'03413122339', N'2323', N'nico.pochettino@gmail.com', 80, 0, N'asdasd', N'', N'', N'', N'', 0, N'20-11111111-2')
INSERT [dbo].[Proveedores] ([codigoProveedor], [razonSocial], [provincia], [localidad], [direccion], [telefono], [fax], [mail], [codigoTipoDocumento], [isInactivo], [personaContacto], [numeroCuenta], [banco], [cbu], [observaciones], [numeroInterno], [numeroDocumento]) VALUES (2, N'SempaIT', N'Santa Fe', N'Rosario', N'Rodriguez 946', N'03413122339', N'2323', N'nico.pochettino@gmail.com', 96, 0, N'Nicolas Pochettino', N'20202299339393', N'Macro', N'2222222222222333', N'Observación', 0, N'20-11111111-2')
INSERT [dbo].[Proveedores] ([codigoProveedor], [razonSocial], [provincia], [localidad], [direccion], [telefono], [fax], [mail], [codigoTipoDocumento], [isInactivo], [personaContacto], [numeroCuenta], [banco], [cbu], [observaciones], [numeroInterno], [numeroDocumento]) VALUES (3, N'EPS PRODUCTOS AND SERVICES SA', N'BUENOS AIRES', N'SAN FERNANDO (1646)', N'LEANDRO N. ALEM 30', N'+5401139600123', N'+5401148903028', N'info@epsa.com.ar', 80, 0, N'EECOL ELECTRIC', N'', N'', N'', N'ING. BRUTOS: CM.0901-049772-0
INICIO ACT: 05/12/2000', 0, N'30707446125')
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
/****** Object:  Table [dbo].[NotasDePedido]    Script Date: 03/15/2016 07:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NotasDePedido](
	[codigoNotaDePedido] [int] IDENTITY(1,1) NOT NULL,
	[numeroInternoCliente] [varchar](50) NOT NULL,
	[fechaEmision] [datetime] NOT NULL,
	[codigoEstado] [int] NOT NULL,
	[observaciones] [varchar](200) NOT NULL,
	[codigoContratoMarco] [int] NULL,
	[codigoCliente] [int] NOT NULL,
 CONSTRAINT [PK_NotasDePedido] PRIMARY KEY CLUSTERED 
(
	[codigoNotaDePedido] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[NotasDePedido] ON
INSERT [dbo].[NotasDePedido] ([codigoNotaDePedido], [numeroInternoCliente], [fechaEmision], [codigoEstado], [observaciones], [codigoContratoMarco], [codigoCliente]) VALUES (16, N'1', CAST(0x0000A528012CC3B4 AS DateTime), 2, N'', 77, 26)
INSERT [dbo].[NotasDePedido] ([codigoNotaDePedido], [numeroInternoCliente], [fechaEmision], [codigoEstado], [observaciones], [codigoContratoMarco], [codigoCliente]) VALUES (17, N'2', CAST(0x0000A52801427C40 AS DateTime), 2, N'', 77, 26)
INSERT [dbo].[NotasDePedido] ([codigoNotaDePedido], [numeroInternoCliente], [fechaEmision], [codigoEstado], [observaciones], [codigoContratoMarco], [codigoCliente]) VALUES (18, N'18', CAST(0x0000A528014E5C18 AS DateTime), 2, N'', NULL, 28)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[NotasDePedido] OFF
/****** Object:  Table [dbo].[ItemsContratoMarco]    Script Date: 03/15/2016 07:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemsContratoMarco](
	[codigoItemContratoMarco] [int] IDENTITY(1,1) NOT NULL,
	[codigoContratoMarco] [int] NOT NULL,
	[codigoArticulo] [int] NOT NULL,
	[precio] [numeric](10, 2) NOT NULL,
	[posicion] [int] NULL,
	[codigoTipoMoneda] [int] NOT NULL,
 CONSTRAINT [PK_ItemsContratoMarco] PRIMARY KEY CLUSTERED 
(
	[codigoItemContratoMarco] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ItemsContratoMarco] ON
INSERT [dbo].[ItemsContratoMarco] ([codigoItemContratoMarco], [codigoContratoMarco], [codigoArticulo], [precio], [posicion], [codigoTipoMoneda]) VALUES (57, 77, 61, CAST(54.88 AS Numeric(10, 2)), 1, 1)
INSERT [dbo].[ItemsContratoMarco] ([codigoItemContratoMarco], [codigoContratoMarco], [codigoArticulo], [precio], [posicion], [codigoTipoMoneda]) VALUES (58, 77, 62, CAST(30.32 AS Numeric(10, 2)), 2, 1)
INSERT [dbo].[ItemsContratoMarco] ([codigoItemContratoMarco], [codigoContratoMarco], [codigoArticulo], [precio], [posicion], [codigoTipoMoneda]) VALUES (59, 77, 63, CAST(44.16 AS Numeric(10, 2)), 3, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
SET IDENTITY_INSERT [dbo].[ItemsContratoMarco] OFF
/****** Object:  Table [dbo].[HistorialPreciosArticulo]    Script Date: 03/15/2016 07:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialPreciosArticulo](
	[codigoHistorialPrecioArticulo] [int] IDENTITY(1,1) NOT NULL,
	[fechaDesde] [datetime] NOT NULL,
	[fechaHasta] [datetime] NULL,
	[precio] [numeric](10, 2) NOT NULL,
	[codigoArticulo] [int] NOT NULL,
	[codigoTipoMoneda] [int] NOT NULL,
 CONSTRAINT [PK_HistorialPreciosArticuloCliente] PRIMARY KEY CLUSTERED 
(
	[codigoHistorialPrecioArticulo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HistorialPreciosArticulo] ON
INSERT [dbo].[HistorialPreciosArticulo] ([codigoHistorialPrecioArticulo], [fechaDesde], [fechaHasta], [precio], [codigoArticulo], [codigoTipoMoneda]) VALUES (28, CAST(0x0000A52801259760 AS DateTime), NULL, CAST(54.88 AS Numeric(10, 2)), 61, 1)
INSERT [dbo].[HistorialPreciosArticulo] ([codigoHistorialPrecioArticulo], [fechaDesde], [fechaHasta], [precio], [codigoArticulo], [codigoTipoMoneda]) VALUES (29, CAST(0x0000A52801259760 AS DateTime), NULL, CAST(30.32 AS Numeric(10, 2)), 62, 1)
INSERT [dbo].[HistorialPreciosArticulo] ([codigoHistorialPrecioArticulo], [fechaDesde], [fechaHasta], [precio], [codigoArticulo], [codigoTipoMoneda]) VALUES (30, CAST(0x0000A52801259760 AS DateTime), NULL, CAST(44.16 AS Numeric(10, 2)), 63, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
SET IDENTITY_INSERT [dbo].[HistorialPreciosArticulo] OFF
/****** Object:  Table [dbo].[ArticulosProveedor]    Script Date: 03/15/2016 07:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticulosProveedor](
	[codigoArticuloProveedor] [int] IDENTITY(1,1) NOT NULL,
	[codigoArticulo] [int] NOT NULL,
	[codigoProveedor] [int] NOT NULL,
 CONSTRAINT [PK_ArticulosProveedor] PRIMARY KEY CLUSTERED 
(
	[codigoArticuloProveedor] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ArticulosProveedor] ON
INSERT [dbo].[ArticulosProveedor] ([codigoArticuloProveedor], [codigoArticulo], [codigoProveedor]) VALUES (4, 735, 8)
SET IDENTITY_INSERT [dbo].[ArticulosProveedor] OFF
/****** Object:  Table [dbo].[ArticulosCliente]    Script Date: 03/15/2016 07:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ArticulosCliente](
	[codigoArticuloCliente] [int] IDENTITY(1,1) NOT NULL,
	[codigoArticulo] [int] NOT NULL,
	[codigoCliente] [int] NOT NULL,
	[numeroInternoCliente] [varchar](100) NOT NULL,
 CONSTRAINT [PK_ArticulosCliente] PRIMARY KEY CLUSTERED 
(
	[codigoArticuloCliente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ArticulosCliente] ON
INSERT [dbo].[ArticulosCliente] ([codigoArticuloCliente], [codigoArticulo], [codigoCliente], [numeroInternoCliente]) VALUES (60, 61, 26, N'72096092')
INSERT [dbo].[ArticulosCliente] ([codigoArticuloCliente], [codigoArticulo], [codigoCliente], [numeroInternoCliente]) VALUES (61, 61, 30, N'55027501')
INSERT [dbo].[ArticulosCliente] ([codigoArticuloCliente], [codigoArticulo], [codigoCliente], [numeroInternoCliente]) VALUES (62, 62, 26, N'71314739')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
SET IDENTITY_INSERT [dbo].[ArticulosCliente] OFF
/****** Object:  Table [dbo].[Entregas]    Script Date: 03/15/2016 07:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Entregas](
	[codigoEntrega] [int] IDENTITY(1,1) NOT NULL,
	[fechaEmision] [datetime] NOT NULL,
	[numeroRemito] [int] NULL,
	[codigoEstado] [int] NOT NULL,
	[observaciones] [varchar](200) NULL,
	[codigoNotaDePedido] [int] NOT NULL,
	[codigoTransporte] [int] NULL,
	[codigoDireccion] [int] NULL,
	[cai] [varchar](50) NULL,
	[fechaVencimientoCai] [datetime] NULL,
 CONSTRAINT [PK_Entrega] PRIMARY KEY CLUSTERED 
(
	[codigoEntrega] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Entregas] ON
INSERT [dbo].[Entregas] ([codigoEntrega], [fechaEmision], [numeroRemito], [codigoEstado], [observaciones], [codigoNotaDePedido], [codigoTransporte], [codigoDireccion], [cai], [fechaVencimientoCai]) VALUES (17, CAST(0x0000A52800000000 AS DateTime), 1, 2, N'', 16, 6, 1, N'41444036292256', CAST(0x0000A6B300000000 AS DateTime))
INSERT [dbo].[Entregas] ([codigoEntrega], [fechaEmision], [numeroRemito], [codigoEstado], [observaciones], [codigoNotaDePedido], [codigoTransporte], [codigoDireccion], [cai], [fechaVencimientoCai]) VALUES (18, CAST(0x0000A52800000000 AS DateTime), 2, 3, N'', 17, 7, 1, N'41444036292256', CAST(0x0000A6B300000000 AS DateTime))
INSERT [dbo].[Entregas] ([codigoEntrega], [fechaEmision], [numeroRemito], [codigoEstado], [observaciones], [codigoNotaDePedido], [codigoTransporte], [codigoDireccion], [cai], [fechaVencimientoCai]) VALUES (19, CAST(0x0000A52800000000 AS DateTime), 3, 3, N'', 17, 7, 1, N'41444036292256', CAST(0x0000A6B300000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[Entregas] OFF
/****** Object:  Table [dbo].[EntregasPorFactura]    Script Date: 03/15/2016 07:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntregasPorFactura](
	[codigoRemitoPorFactura] [int] IDENTITY(1,1) NOT NULL,
	[codigoEntrega] [int] NOT NULL,
	[codigoFactura] [int] NOT NULL,
 CONSTRAINT [PK_RemitosPorFactura] PRIMARY KEY CLUSTERED 
(
	[codigoRemitoPorFactura] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EntregasPorFactura] ON
INSERT [dbo].[EntregasPorFactura] ([codigoRemitoPorFactura], [codigoEntrega], [codigoFactura]) VALUES (25, 46, 19)
INSERT [dbo].[EntregasPorFactura] ([codigoRemitoPorFactura], [codigoEntrega], [codigoFactura]) VALUES (26, 31, 20)
INSERT [dbo].[EntregasPorFactura] ([codigoRemitoPorFactura], [codigoEntrega], [codigoFactura]) VALUES (27, 40, 21)
SET IDENTITY_INSERT [dbo].[EntregasPorFactura] OFF
/****** Object:  Table [dbo].[HistorialCostosArticuloProveedor]    Script Date: 03/15/2016 07:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialCostosArticuloProveedor](
	[codigoHistorialCostoArticuloProveedor] [int] IDENTITY(1,1) NOT NULL,
	[fechaDesde] [datetime] NOT NULL,
	[fechaHasta] [datetime] NULL,
	[costo] [numeric](10, 2) NOT NULL,
	[codigoArticuloProveedor] [int] NOT NULL,
	[codigoTipoMoneda] [int] NOT NULL,
 CONSTRAINT [PK_HistorialPreciosArticuloProveedor] PRIMARY KEY CLUSTERED 
(
	[codigoHistorialCostoArticuloProveedor] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HistorialCostosArticuloProveedor] ON
INSERT [dbo].[HistorialCostosArticuloProveedor] ([codigoHistorialCostoArticuloProveedor], [fechaDesde], [fechaHasta], [costo], [codigoArticuloProveedor], [codigoTipoMoneda]) VALUES (4, CAST(0x0000A5A2008EC920 AS DateTime), NULL, CAST(2645.20 AS Numeric(10, 2)), 4, 1)
SET IDENTITY_INSERT [dbo].[HistorialCostosArticuloProveedor] OFF
/****** Object:  Table [dbo].[ItemsNotaDePedido]    Script Date: 03/15/2016 07:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemsNotaDePedido](
	[codigoItemNotaDePedido] [int] IDENTITY(1,1) NOT NULL,
	[codigoArticulo] [int] NOT NULL,
	[codigoNotaDePedido] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[fechaEntrega] [datetime] NULL,
	[precio] [float] NULL,
	[posicion] [int] NOT NULL,
 CONSTRAINT [PK_ItemsNotaDePedido] PRIMARY KEY CLUSTERED 
(
	[codigoItemNotaDePedido] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ItemsNotaDePedido] ON
INSERT [dbo].[ItemsNotaDePedido] ([codigoItemNotaDePedido], [codigoArticulo], [codigoNotaDePedido], [cantidad], [fechaEntrega], [precio], [posicion]) VALUES (12, 62, 16, 1, CAST(0x0000A528012CAD70 AS DateTime), 30.32, 1)
INSERT [dbo].[ItemsNotaDePedido] ([codigoItemNotaDePedido], [codigoArticulo], [codigoNotaDePedido], [cantidad], [fechaEntrega], [precio], [posicion]) VALUES (13, 93, 17, 5, CAST(0x0000A54200000000 AS DateTime), 512.88, 1)
INSERT [dbo].[ItemsNotaDePedido] ([codigoItemNotaDePedido], [codigoArticulo], [codigoNotaDePedido], [cantidad], [fechaEntrega], [precio], [posicion]) VALUES (14, 61, 18, 1, CAST(0x0000A528014E3FF8 AS DateTime), 54.88, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
SET IDENTITY_INSERT [dbo].[ItemsNotaDePedido] OFF
/****** Object:  Table [dbo].[ItemsEntrega]    Script Date: 03/15/2016 07:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemsEntrega](
	[codigoItemEntrega] [int] IDENTITY(1,1) NOT NULL,
	[codigoEntrega] [int] NOT NULL,
	[codigoItemNotaDePedido] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[codigoArticuloProveedor] [int] NULL,
	[precio] [numeric](9, 2) NULL,
 CONSTRAINT [PK_ItemsEntrega] PRIMARY KEY CLUSTERED 
(
	[codigoItemEntrega] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ItemsEntrega] ON
INSERT [dbo].[ItemsEntrega] ([codigoItemEntrega], [codigoEntrega], [codigoItemNotaDePedido], [cantidad], [codigoArticuloProveedor], [precio]) VALUES (13, 17, 12, 1, NULL, NULL)
INSERT [dbo].[ItemsEntrega] ([codigoItemEntrega], [codigoEntrega], [codigoItemNotaDePedido], [cantidad], [codigoArticuloProveedor], [precio]) VALUES (14, 18, 13, 2, NULL, NULL)
INSERT [dbo].[ItemsEntrega] ([codigoItemEntrega], [codigoEntrega], [codigoItemNotaDePedido], [cantidad], [codigoArticuloProveedor], [precio]) VALUES (15, 19, 13, 3, NULL, NULL)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[ItemsEntrega] OFF
/****** Object:  ForeignKey [FK_Articulos_AFIP_UnidadesMedida]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[Articulos]  WITH CHECK ADD  CONSTRAINT [FK_Articulos_AFIP_UnidadesMedida] FOREIGN KEY([codigoUnidadMedida])
REFERENCES [dbo].[AFIP_UnidadesMedida] ([codigoUnidadMedida])
GO
ALTER TABLE [dbo].[Articulos] CHECK CONSTRAINT [FK_Articulos_AFIP_UnidadesMedida]
GO
/****** Object:  ForeignKey [FK_ArticulosCliente_Articulos]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[ArticulosCliente]  WITH NOCHECK ADD  CONSTRAINT [FK_ArticulosCliente_Articulos] FOREIGN KEY([codigoArticulo])
REFERENCES [dbo].[Articulos] ([codigoArticulo])
GO
ALTER TABLE [dbo].[ArticulosCliente] CHECK CONSTRAINT [FK_ArticulosCliente_Articulos]
GO
/****** Object:  ForeignKey [FK_ArticulosCliente_Clientes]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[ArticulosCliente]  WITH NOCHECK ADD  CONSTRAINT [FK_ArticulosCliente_Clientes] FOREIGN KEY([codigoCliente])
REFERENCES [dbo].[Clientes] ([codigoCliente])
GO
ALTER TABLE [dbo].[ArticulosCliente] CHECK CONSTRAINT [FK_ArticulosCliente_Clientes]
GO
/****** Object:  ForeignKey [FK_ArticulosProveedor_Articulos]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[ArticulosProveedor]  WITH NOCHECK ADD  CONSTRAINT [FK_ArticulosProveedor_Articulos] FOREIGN KEY([codigoArticulo])
REFERENCES [dbo].[Articulos] ([codigoArticulo])
GO
ALTER TABLE [dbo].[ArticulosProveedor] CHECK CONSTRAINT [FK_ArticulosProveedor_Articulos]
GO
/****** Object:  ForeignKey [FK_ArticulosProveedor_Proveedores]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[ArticulosProveedor]  WITH NOCHECK ADD  CONSTRAINT [FK_ArticulosProveedor_Proveedores] FOREIGN KEY([codigoProveedor])
REFERENCES [dbo].[Proveedores] ([codigoProveedor])
GO
ALTER TABLE [dbo].[ArticulosProveedor] CHECK CONSTRAINT [FK_ArticulosProveedor_Proveedores]
GO
/****** Object:  ForeignKey [FK_Clientes_AFIP_TiposDocumento]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_AFIP_TiposDocumento] FOREIGN KEY([codigoTipoDocumento])
REFERENCES [dbo].[AFIP_TiposDocumento] ([codigoTipoDocumento])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_AFIP_TiposDocumento]
GO
/****** Object:  ForeignKey [FK_Entregas_Direcciones]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[Entregas]  WITH CHECK ADD  CONSTRAINT [FK_Entregas_Direcciones] FOREIGN KEY([codigoDireccion])
REFERENCES [dbo].[Direcciones] ([codigoDireccion])
GO
ALTER TABLE [dbo].[Entregas] CHECK CONSTRAINT [FK_Entregas_Direcciones]
GO
/****** Object:  ForeignKey [FK_Entregas_Transporte]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[Entregas]  WITH CHECK ADD  CONSTRAINT [FK_Entregas_Transporte] FOREIGN KEY([codigoTransporte])
REFERENCES [dbo].[Transportes] ([codigoTransporte])
GO
ALTER TABLE [dbo].[Entregas] CHECK CONSTRAINT [FK_Entregas_Transporte]
GO
/****** Object:  ForeignKey [FK_EntregasPorFactura_Entregas]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[EntregasPorFactura]  WITH CHECK ADD  CONSTRAINT [FK_EntregasPorFactura_Entregas] FOREIGN KEY([codigoEntrega])
REFERENCES [dbo].[Entregas] ([codigoEntrega])
GO
ALTER TABLE [dbo].[EntregasPorFactura] CHECK CONSTRAINT [FK_EntregasPorFactura_Entregas]
GO
/****** Object:  ForeignKey [FK_EntregasPorFactura_Facturas]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[EntregasPorFactura]  WITH CHECK ADD  CONSTRAINT [FK_EntregasPorFactura_Facturas] FOREIGN KEY([codigoFactura])
REFERENCES [dbo].[Facturas] ([codigoFactura])
GO
ALTER TABLE [dbo].[EntregasPorFactura] CHECK CONSTRAINT [FK_EntregasPorFactura_Facturas]
GO
/****** Object:  ForeignKey [FK_Facturas_AFIP_ConceptosIncluidos]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_AFIP_ConceptosIncluidos] FOREIGN KEY([codigoConcepto])
REFERENCES [dbo].[AFIP_ConceptosIncluidos] ([codigoConcepto])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_AFIP_ConceptosIncluidos]
GO
/****** Object:  ForeignKey [FK_Facturas_AFIP_Iva]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_AFIP_Iva] FOREIGN KEY([codigoIva])
REFERENCES [dbo].[AFIP_Iva] ([codigoIva])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_AFIP_Iva]
GO
/****** Object:  ForeignKey [FK_Facturas_AFIP_TiposComprobante]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_AFIP_TiposComprobante] FOREIGN KEY([codigoTipoComprobante])
REFERENCES [dbo].[AFIP_TiposComprobante] ([codigoTipoComprobante])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_AFIP_TiposComprobante]
GO
/****** Object:  ForeignKey [FK_Facturas_AFIP_TiposMonedas]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_AFIP_TiposMonedas] FOREIGN KEY([codigoTipoMoneda])
REFERENCES [dbo].[AFIP_TiposMonedas] ([codigoTipoMoneda])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_AFIP_TiposMonedas]
GO
/****** Object:  ForeignKey [FK_HistorialCostosArticuloProveedor_AFIP_TiposMonedas]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[HistorialCostosArticuloProveedor]  WITH CHECK ADD  CONSTRAINT [FK_HistorialCostosArticuloProveedor_AFIP_TiposMonedas] FOREIGN KEY([codigoTipoMoneda])
REFERENCES [dbo].[AFIP_TiposMonedas] ([codigoTipoMoneda])
GO
ALTER TABLE [dbo].[HistorialCostosArticuloProveedor] CHECK CONSTRAINT [FK_HistorialCostosArticuloProveedor_AFIP_TiposMonedas]
GO
/****** Object:  ForeignKey [FK_HistorialPreciosArticuloProveedor_ArticulosProveedor]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[HistorialCostosArticuloProveedor]  WITH NOCHECK ADD  CONSTRAINT [FK_HistorialPreciosArticuloProveedor_ArticulosProveedor] FOREIGN KEY([codigoArticuloProveedor])
REFERENCES [dbo].[ArticulosProveedor] ([codigoArticuloProveedor])
GO
ALTER TABLE [dbo].[HistorialCostosArticuloProveedor] CHECK CONSTRAINT [FK_HistorialPreciosArticuloProveedor_ArticulosProveedor]
GO
/****** Object:  ForeignKey [FK_HistorialPreciosArticulo_AFIP_TiposMonedas]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[HistorialPreciosArticulo]  WITH CHECK ADD  CONSTRAINT [FK_HistorialPreciosArticulo_AFIP_TiposMonedas] FOREIGN KEY([codigoTipoMoneda])
REFERENCES [dbo].[AFIP_TiposMonedas] ([codigoTipoMoneda])
GO
ALTER TABLE [dbo].[HistorialPreciosArticulo] CHECK CONSTRAINT [FK_HistorialPreciosArticulo_AFIP_TiposMonedas]
GO
/****** Object:  ForeignKey [FK_HistorialPreciosArticulo_Articulos]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[HistorialPreciosArticulo]  WITH NOCHECK ADD  CONSTRAINT [FK_HistorialPreciosArticulo_Articulos] FOREIGN KEY([codigoArticulo])
REFERENCES [dbo].[Articulos] ([codigoArticulo])
GO
ALTER TABLE [dbo].[HistorialPreciosArticulo] CHECK CONSTRAINT [FK_HistorialPreciosArticulo_Articulos]
GO
/****** Object:  ForeignKey [FK_ItemsContratoMarco_AFIP_TiposMonedas]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[ItemsContratoMarco]  WITH CHECK ADD  CONSTRAINT [FK_ItemsContratoMarco_AFIP_TiposMonedas] FOREIGN KEY([codigoTipoMoneda])
REFERENCES [dbo].[AFIP_TiposMonedas] ([codigoTipoMoneda])
GO
ALTER TABLE [dbo].[ItemsContratoMarco] CHECK CONSTRAINT [FK_ItemsContratoMarco_AFIP_TiposMonedas]
GO
/****** Object:  ForeignKey [FK_ItemsContratoMarco_Articulos]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[ItemsContratoMarco]  WITH NOCHECK ADD  CONSTRAINT [FK_ItemsContratoMarco_Articulos] FOREIGN KEY([codigoArticulo])
REFERENCES [dbo].[Articulos] ([codigoArticulo])
GO
ALTER TABLE [dbo].[ItemsContratoMarco] CHECK CONSTRAINT [FK_ItemsContratoMarco_Articulos]
GO
/****** Object:  ForeignKey [FK_ItemsContratoMarco_ContratosMarco]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[ItemsContratoMarco]  WITH NOCHECK ADD  CONSTRAINT [FK_ItemsContratoMarco_ContratosMarco] FOREIGN KEY([codigoContratoMarco])
REFERENCES [dbo].[ContratosMarco] ([codigoContratoMarco])
GO
ALTER TABLE [dbo].[ItemsContratoMarco] CHECK CONSTRAINT [FK_ItemsContratoMarco_ContratosMarco]
GO
/****** Object:  ForeignKey [FK_ItemsEntrega_ArticulosProveedor]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[ItemsEntrega]  WITH NOCHECK ADD  CONSTRAINT [FK_ItemsEntrega_ArticulosProveedor] FOREIGN KEY([codigoArticuloProveedor])
REFERENCES [dbo].[ArticulosProveedor] ([codigoArticuloProveedor])
GO
ALTER TABLE [dbo].[ItemsEntrega] CHECK CONSTRAINT [FK_ItemsEntrega_ArticulosProveedor]
GO
/****** Object:  ForeignKey [FK_ItemsEntrega_Entrega]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[ItemsEntrega]  WITH NOCHECK ADD  CONSTRAINT [FK_ItemsEntrega_Entrega] FOREIGN KEY([codigoEntrega])
REFERENCES [dbo].[Entregas] ([codigoEntrega])
GO
ALTER TABLE [dbo].[ItemsEntrega] CHECK CONSTRAINT [FK_ItemsEntrega_Entrega]
GO
/****** Object:  ForeignKey [FK_ItemsEntrega_ItemsNotaDePedido]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[ItemsEntrega]  WITH NOCHECK ADD  CONSTRAINT [FK_ItemsEntrega_ItemsNotaDePedido] FOREIGN KEY([codigoItemNotaDePedido])
REFERENCES [dbo].[ItemsNotaDePedido] ([codigoItemNotaDePedido])
GO
ALTER TABLE [dbo].[ItemsEntrega] CHECK CONSTRAINT [FK_ItemsEntrega_ItemsNotaDePedido]
GO
/****** Object:  ForeignKey [FK_ItemsPorNotaDePedido_Articulos]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[ItemsNotaDePedido]  WITH NOCHECK ADD  CONSTRAINT [FK_ItemsPorNotaDePedido_Articulos] FOREIGN KEY([codigoArticulo])
REFERENCES [dbo].[Articulos] ([codigoArticulo])
GO
ALTER TABLE [dbo].[ItemsNotaDePedido] CHECK CONSTRAINT [FK_ItemsPorNotaDePedido_Articulos]
GO
/****** Object:  ForeignKey [FK_ItemsPorNotaDePedido_NotasDePedido]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[ItemsNotaDePedido]  WITH NOCHECK ADD  CONSTRAINT [FK_ItemsPorNotaDePedido_NotasDePedido] FOREIGN KEY([codigoNotaDePedido])
REFERENCES [dbo].[NotasDePedido] ([codigoNotaDePedido])
GO
ALTER TABLE [dbo].[ItemsNotaDePedido] CHECK CONSTRAINT [FK_ItemsPorNotaDePedido_NotasDePedido]
GO
/****** Object:  ForeignKey [FK_NotasDePedido_Clientes]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[NotasDePedido]  WITH NOCHECK ADD  CONSTRAINT [FK_NotasDePedido_Clientes] FOREIGN KEY([codigoCliente])
REFERENCES [dbo].[Clientes] ([codigoCliente])
GO
ALTER TABLE [dbo].[NotasDePedido] CHECK CONSTRAINT [FK_NotasDePedido_Clientes]
GO
/****** Object:  ForeignKey [FK_NotasDePedido_ContratosMarco]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[NotasDePedido]  WITH NOCHECK ADD  CONSTRAINT [FK_NotasDePedido_ContratosMarco] FOREIGN KEY([codigoContratoMarco])
REFERENCES [dbo].[ContratosMarco] ([codigoContratoMarco])
GO
ALTER TABLE [dbo].[NotasDePedido] CHECK CONSTRAINT [FK_NotasDePedido_ContratosMarco]
GO
/****** Object:  ForeignKey [FK_Proveedores_AFIP_TiposDocumento]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[Proveedores]  WITH CHECK ADD  CONSTRAINT [FK_Proveedores_AFIP_TiposDocumento] FOREIGN KEY([codigoTipoDocumento])
REFERENCES [dbo].[AFIP_TiposDocumento] ([codigoTipoDocumento])
GO
ALTER TABLE [dbo].[Proveedores] CHECK CONSTRAINT [FK_Proveedores_AFIP_TiposDocumento]
GO
/****** Object:  ForeignKey [FK_Transportes_TipoDocumento]    Script Date: 03/15/2016 07:31:08 ******/
ALTER TABLE [dbo].[Transportes]  WITH CHECK ADD  CONSTRAINT [FK_Transportes_TipoDocumento] FOREIGN KEY([codigoTipoDocumento])
REFERENCES [dbo].[AFIP_TiposDocumento] ([codigoTipoDocumento])
GO
ALTER TABLE [dbo].[Transportes] CHECK CONSTRAINT [FK_Transportes_TipoDocumento]
GO
